{{ 'marquee.css' | asset_url | stylesheet_tag }}

{% for block in section.blocks %}
  {% case block.type %}
    {% when 'marquee-text' %}
      <div class="marquee-text">
        {{ block.settings.marquee__text }}
      </div>
  {% endcase %}
{% endfor %}

{% schema %}
{
  "name": "Marquee",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "marquee-text",
      "label": "Marquee Text"
    }
  ],
  "blocks": [
    {
      "name": "marquee",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "marquee-text",
          "label": "Marquee Text"
        }
      ]
    }
  ]
}
{% endschema %}
