{% if product.metafields.custom_fields.pre_order == 'true' %}
  <div class="pre-order">
    <p>Précommander ce produit maintenant</p>
  </div>
{% endif %}

{% schema %}
{
  "name": "Pre-order",
  "settings": [],
  "presets": [
    {
      "name": "Pre-order",
      "category": "Product"
    }
  ]
}
{% endschema %}
