{{ 'sticky-button.css' | asset_url | stylesheet_tag }}

<div class="sticky-button">
  <form action="/cart/add" method="post" id="addToCartForm">
    <input type="hidden" name="id" value="{{ product.variants.first.id }}">
    <button type="submit" id="ProductSubmitButton-{{ section_id }}">
      {{ section.settings['sticky-button-label'] }}
    </button>
  </form>
</div>

{% schema %}
{
  "name": "Sticky button",
  "settings": [
    {
      "type": "text",
      "id": "sticky-button-label",
      "label": "Button label",
      "default": "Ajouter au panier"
    }
  ],
  "presets": [
    {
      "name": "Sticky button",
      "category": "Product page"
    }
  ]
}
{% endschema %}
