.new-witness {
  padding: 140px 120px 180px 0px;
  display: flex;
  justify-content: center;
  gap: 130px;
}

.left-side-witness {
  display: flex;
}

.witness-image {
  display: flex;
}

.witness-image img {
  object-fit: cover;
  max-width: 540px;
  min-height: 100%;
}

.right-side-witness {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.right-side-witness h2 {
  text-transform: uppercase;
  color: #000;
  font-family: 'Bodoni 72';
  font-size: 100px;
  font-style: italic;
  line-height: 0.95;
}

.right-side-witness p {
  color: #2f2f2f;
  font-family: 'Helvetica Neue';
  font-size: 25px;
  line-height: normal;
}

.right-side-witness a {
  border-radius: 110px;
  padding: 5px 25px;
  border: 1px solid #000;
  text-decoration: none;
  color: #000;
  font-family: 'Linotype Didot';
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.witness-description {
  margin: 60px 0px 100px 0px;
}
