.partner-logo {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  justify-items: center;
  margin-inline: 100px;
  gap: 80px;
}

@media screen and (max-width: 768px) {
  .partner-logo {
    gap: 20px;
    margin-inline: 30px;
    margin-bottom: 40px;
  }
}

.partner-logo img {
  object-fit: contain;
  width: 100%;
}
